<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NAND How!</title>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"> -->
    

    <link type="text/css" rel="stylesheet" href="/css/aristo/jquery-ui-1.8.16.custom.css" />
    <link type="text/css" rel="stylesheet" href="/css/jquery.layout.css" />
    <link type="text/css" rel="stylesheet" href="/css/application.css" />

    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/css/profile.css" />
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet"/>

    <!-- <link type="text/css" rel="stylesheet" href="/css/navbar.css" /> -->
    <!-- <link type="text/css" rel="stylesheet" href="/css/mainLayout.css" /> -->

</head>
<body >
    <header>
        <%- include('partials/topnav', {user: user}) -%>
    </header>

    <div class="container-fluid bg-dark">
        <div class="row min-vh-100">
            <div class="col-sm-auto bg-darkxxx sticky-top">
                <div class="d-flex flex-sm-column flex-row flex-nowrap bg-darkxxx align-items-center sticky-top">
                    <!-- <a href="/" class="d-block xxxp-3 link-dark text-decoration-none text-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                        <i class="bi-bootstrap fs-1"></i>
                    </a> -->
                    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center ">
                    </ul>
                </div>
            </div>
            <div class="col">
            <!-- Main profile body -->
                <div class="xxxcontainer text-light">
                    <div class="xxxrow justify-content-center">
                        <div class="col-12 col-lg-10 col-xl-8 mx-auto">


                            <!-- <div class="rating" style="display: inline-block;">
                                <input type="radio" value="5" name="rating" id="rating-5"/>
                                <label for="rating-5" title="5 stars">*</label>
                                <input type="radio" value="4" name="rating" id="rating-4"/>
                                <label for="rating-4" title="4 stars">*</label>  
                                <input type="radio" value="3" name="rating" id="rating-3"/>
                                <label for="rating-3" title="3 stars">*</label>  
                                <input type="radio" value="2" name="rating" id="rating-2"/>
                                <label for="rating-2" title="2 stars">*</label>  
                                <input type="radio" value="1" name="rating" id="rating-1"/>
                                <label for="rating-1" title="1 star">*</label>  
                            </div> -->


                            <h2 class="h3 mb-4 page-title text-light mt-2">Settings</h2>
                            <div class="my-4">
                                <!-- <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Profile</a>
                                    </li>
                                </ul> -->
                                <form action="/profile/updateProfile" enctype="multipart/form-data" method="POST">
                                    <div class="row mt-5 align-items-center">
                                        <div class="col-md-3 text-center mb-5">
                                            <div class="avatar avatar-xl">
                                                <% if (user.image) { %>
                                                    <img src="<%= user.image %>" alt="..." class="avatar-img rounded-circle" />
                                                <%} else { %>
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="avatar-img rounded-circle" />
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row align-items-center">
                                                <div class="col-md-7">
                                                    <h4 class="mb-1"><%= user.userName%></h4>
                                                    <p class="small mb-3"><span class="badge badge-dark"><%= user.location%></span></p>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-md-7">
                                                    <h3>About</h3>
                                                    <p class="text-muted" id="profile-about"><%= user.about%>
                                                    </p>
                                                </div>
                                            </div>
                                            <span id="edit-profile-button" class="btn btn-secondary">edit</span>
                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                    <div id="edit-profile-section" class="d-none">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputName">Name</label>
                                                <input type="text" id="inputName" class="form-control" placeholder="Name" name="inputName"/>
                                            </div>
                                            <!-- <div class="form-group col-md-6">
                                                <label for="lastname">Lastname</label>
                                                <input type="text" id="lastname" class="form-control" placeholder="Last Name" />
                                            </div> -->
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail">Email</label>
                                            <input type="email" class="form-control" id="inputEmail" placeholder="email@example.com" name="inputEmail" />
                                        </div>
                                        <div class="form-row">
                                            <!--Country select element -->
                                                <%- include('partials/countryselect') -%>
                                            <!--/Country select element -->
                                        </div>
    
                                        <div class="form-row">
                                            <div class="form-group col-md-4 text-light">
                                                <label for="about">Tell us your story:</label>
                                            <textarea id="about" name="about" rows="5" cols="80" maxlength="1024"><%= user.about%></textarea>
                                            </div>
                                        </div>
                                        <div class="form-row mb-3">
                                            <label for="imageUpload" class="">Profile Image</label>
                                            <input type="file" class="form-control" id="imageUpload" name="file">
                                        </div>
                                        <hr class="my-4" />
                                        <div class="row mb-4">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="oldPassword">Old Password</label>
                                                    <input type="password" class="form-control" id="oldPassword" name="oldPassword"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="newPassword">New Password</label>
                                                    <input type="password" class="form-control" id="newPassword" name="newPassword"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="newPasswordConfirm">Confirm Password</label>
                                                    <input type="password" class="form-control" id="newPasswordConfirm" name="newPasswordConfirm"/>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="mb-2">Password requirements</p>
                                                <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                                <ul class="small text-muted pl-4 mb-0">
                                                    <li>Minimum 8 character</li>
                                                    <li>At least one special character</li>
                                                    <li>At least one number</li>
                                                    <li>Can’t be the same as a previous password</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save Change</button>

                                    </div>
                                    
                                    
                                </form>
                            </div>
                        </div>
                </div>
            </div>
            <!-- end main profile body -->

            </div>

        </div>
    </div>
    
    <!-- Footer-->
    <footer class="xxxpy-5 bg-dark">
        <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; NAND How! 2022</p></div>
    </footer>

    <!--Login Modal -->
        <%- include('partials/loginmodal') -%>
    <!--/Login Modal -->


    <!-- Scripts below here -->

    
    <script src="js/app/profile.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>


</body>
</html>